[Desktop Entry]
Name=WezTerm
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=/home/ryo/.local/share/applications/wezterm-icon.svg
StartupWMClass=org.wezfurlong.wezterm
Exec=/home/ryo/.local/share/applications/WezTerm-20240203-110809-5046fc22-Ubuntu20.04.AppImage start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
