[Desktop Entry]
Name=SupertTux
Comment=Play a classic 2D platform game
Exec=/home/ryo/.local/share/applications/SuperTux-v0.6.3.glibc2.29-x86_64.AppImage
Icon=/home/ryo/.local/share/applications/supertux2.svg
Categories=AudioVideo;Game;
Type=Application
Terminal=false
